* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
}

main{
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 200px;
    background-color: black;
}

.flex{
    display: flex;
}

#meuFormulario{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center center;
    flex-direction: column;
    padding: 100px 100px;
    background-color: rgb(7, 10, 10);
}

label{
    color: antiquewhite;
    font-weight: 300;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    border-radius: 20px;
    width: 50%;
    cursor: pointer;
    outline: 0;
    padding: 15px 15px;
    border-radius: 15px;
    font-size: 20px;
}

#btn{
    width: 100px;
    height: 50px;
    border-radius: 20px;

}

#resultado {
    width: 50%;
    height: 300px;
    color: aqua;
    background-color: aliceblue;

}

#retorno {
     display: flex;
     justify-content: space-around;
     flex-direction: column-reverse;
}

#buscaBanco {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;  
    gap: 20px;
}

#btn-busca {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

#resultado {
    color: aqua;
    background-color: black;
}
#busca{
    width: 200px;
}


